<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div id="tab-btn">
        <ul>
            <li id="nav_tab1" class="nav_tablinks active" aria-selected="true"><a href="/">채용 정보</a></li>
            <li id="nav_tab2" class="nav_tablinks" aria-selected="false"><a href="/masters">마스터 정보</a></li>
            <li id="nav_tab3" class="nav_tablinks" aria-selected="false"><a href="/profile">프로필</a></li>
        </ul>
    </div>
    
    <div id="tab-cont">
        <div id="nav_tabCont1" class="nav_tabCont">
            <form action="/update" method="POST">
                <input type="hidden" name="id" value="<%=row.id%>">
                <input type="hidden" name="businessType" value="<%=row.businessType%>">
                <input type="hidden" name="keyBusiness" value="<%=row.keyBusiness%>">
                <input type="hidden" name="email" value="<%=row.email%>">
                <div id="detail-info">
                    <div id="intro-info">
                        <input type="text" class="form-control" id="companyName" name= "companyName" value="<%=row.companyName%>">
                            <hr>
                            <ul>
                                <li style="margin-top: 10px;">사업체명:</li>
                                <li style="margin-top: 10px;">주소:<input type="text" class="form-control" id="address" name = "address" required value="<%=row.address%>"></li>
                                <li style="margin-top: 10px;">연락처:<input type="text" class="form-control" id="calling" name = "calling" required value="<%=row.calling%>"></li>
                            </ul>
                        <div class="text-end" id="link">
                            <i class="material-icons" style="font-size: 24px; color: #6ABABB;">phone</i>
                            <!-- <a href="#"><img src="https://img.icons8.com/android/24/000000/home.png"/></a> -->
                        </div>
                    </div>
                    <div id="application-guidelines">
                        <div class="table-responsive">
                            <table class="table caption-top">
                                <h5 class="profile_profileTitle" style="margin-top: 30px;">모집 요강</h5>
                                <hr>
                                <thead>	
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" width="40%">직종 구분</th>
                                        <td width = "60%">
                                            <select class="form-select" id="occupation" required name="occupation">
            									<option>선택해주세요</option>
            									<option>경영/사무</option>
            									<option>영업/고객상담</option>
            									<option>IT/인터넷</option>
            									<option>디자인</option>
            									<option>서비스</option>
            									<option>전문직</option>
            									<option>의료</option>
            									<option>생산/제조</option>
            									<option>건설</option>
            									<option>유통/무역</option>
            									<option>미디어</option>
            									<option>교육</option>
            									<option>특수계층/공공</option>
            								</select></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">고용형태/기간</th>
                                        <td><input type="text" class="form-control" id="businessType" name = "term" required value="<%=row.term%>"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">업무내용</th>
                                        <td><input type="text" class="form-control" id="businessType" name = "task" required value="<%=row.task%>"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">면허/자격</th>
                                        <td><input type="text" class="form-control" id="businessType" name = "license"  value="<%=row.license%>"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">근무지</th>
                                        <td><select class="form-select" id="state" required name="state">
        									<option>선택해주세요</option>
        									<option>서울</option>
        									<option>경기</option>
        									<option>인천</option>
        									<option>부산</option>
        									<option>대구</option>
        									<option>광주</option>
        									<option>대전</option>
        									<option>울산</option>
        									<option>세종</option>
        									<option>강원</option>
        									<option>경남</option>
        									<option>경북</option>
        									<option>전남</option>
        									<option>전북</option>
        									<option>충남</option>
        									<option>충북</option>
        									<option>제주</option>
        								</select></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">급여</th>
                                        <td>월 <input type="text" class="form-control" id="businessType" name = "salary" value="<%=row.salary%>" required> 만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">근무 시간</th>
                                        <td><div class="col-md-6">
            								<label for="worktime" class="form-label">근무시간</label>
            								<select class="form-select" id="worktime-start" name="worktimeStart" required>
            									<option>선택해주세요</option>
            									<option>00:00</option>
            									<option>01:00</option>
            									<option>02:00</option>
            									<option>03:00</option>
            									<option>04:00</option>
            									<option>05:00</option>
            									<option>06:00</option>
            									<option>07:00</option>
            									<option>08:00</option>
            									<option>09:00</option>
            									<option>10:00</option>
            									<option>11:00</option>
            									<option>12:00</option>
            									<option>13:00</option>
            									<option>14:00</option>
            									<option>15:00</option>
            									<option>16:00</option>
            									<option>17:00</option>
            									<option>18:00</option>
            									<option>19:00</option>
            									<option>20:00</option>
            									<option>21:00</option>
            									<option>22:00</option>
            									<option>23:00</option>
            								</select>
            							</div>
            							<div class="col-md-6">
            								<select class="form-select" id="worktime-end" name="worktimeEnd" required>
            									<option>선택해주세요</option>
            									<option>00:00</option>
            									<option>01:00</option>
            									<option>02:00</option>
            									<option>03:00</option>
            									<option>04:00</option>
            									<option>05:00</option>
            									<option>06:00</option>
            									<option>07:00</option>
            									<option>08:00</option>
            									<option>09:00</option>
            									<option>10:00</option>
            									<option>11:00</option>
            									<option>12:00</option>
            									<option>13:00</option>
            									<option>14:00</option>
            									<option>15:00</option>
            									<option>16:00</option>
            									<option>17:00</option>
            									<option>18:00</option>
            									<option>19:00</option>
            									<option>20:00</option>
            									<option>21:00</option>
            									<option>22:00</option>
            									<option>23:00</option>
            								</select>
            							</div></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">보험</th>
                                        <td><input type="text" class="form-control" id="businessType" name = "insurance" value="<%=row.insurance%>"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">기타</th>
                                        <td><textarea class="form-control" id="detail"  style="height: 100px" name="detailInfo" value="<%=row.detailInfo%>"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="buttons" style="margin: 40px 0;">
                        <button id="main_recommendCardButton" class="btn btn-primary" style="width: 45%; display: inline-block; margin-left: 5%; margin-bottom: 40px;">수정완료</a>
                        <button id="main_recommendCardButton" onclick="location.href='/'" class="btn btn-primary" style="width: 45%; display: inline-block;  margin-right: 5%; margin-bottom: 40px;">돌아가기</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>